
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   </head>
   <body class="mx-4">
    <h1>MARK Graduate Requirements</h1>
    <input type="button" class="mb-3" onclick="location.href = 'home.html';" value="Plans"/>
    <!-- SBM School Requirements -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            SBM School Requirements</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for course in courses %}
                {% if course.sbm_req == "TRUE" %}
                  <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name  }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.dept }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SBM Econ Requirements -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            SBM ECON Requirements - choose 1 from below</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for course in courses %}
                {% if course.sbm_econ_req == "TRUE" %}
                  <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name  }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.dept }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SBM Math Requirements -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            SBM MATH Requirements - choose 1 from below</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for course in courses %}
                {% if course.sbm_math_req == "TRUE" %}
                  <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name  }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.dept }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BBA Extra Requirements -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            SBM BBA Requirements</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for course in courses %}
                {% if course.sbm_bba_req == "TRUE" %}
                  <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name  }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.dept }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BBA Extra Requirements -->
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            MARK Requirements</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Credits</th>
                    <th>Department</th>
                  </tr>
                </tfoot>
                <tbody>
                {% for course in courses %}
                {% if course.mark_req == "TRUE" %}
                  <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_name  }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.dept }}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="button" class="mb-3" onclick="location.href = 'home.html';" value="Plans"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
